#map {
    width: 100%;
    height: 97vh;
}

#sidebar {
    width: 150px;
}

#sidebar > * {
    width: 100%;
}

#legend {
    display: none;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    z-index: 999;
    position: absolute;
    top: 10%;
    height: 80%;
    width: 40%;
    left: 30%;
}

#close-legend {
    position: absolute;
    right: 0%;
    width: 23px;
    height: 23px;
    border: 1px solid black;
    border-radius: 2px;
}

#main-container > * {
    border: 4px, solid, #123456;
    border-radius:5px;
}

#main-container {
    display: flex
}